
#footer {
  position: fixed;
  bottom: 0;
  padding: 1%;
}

body {
  background: #E8E5DE;
  /* font-family: "Evangelina"; */
}


@font-face {
  font-family: "Evangelina";
  src: local("Evangelina"), url("./fonts/Evangelina.otf");
}
