.message{
  margin-left: 8.5em;
  font-weight: bold;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  align-items: baseline;

}

/* body {
  /* background: #E8E5DE;  */
  /* font-family: Arial, Helvetica, sans-serif */
/* }  */


@font-face {
  font-family: "Evangelina";
  src: local("Evangelina"), url("./fonts/Evangelina.otf");
}
